    @charset "UTF-8";
    /*==================================================================
	0. BoxModel change
===================================================================*/
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /* ------------------------------------------------------------------
	1. Reset styles
-------------------------------------------------------------------*/
    
    html {
        overflow-x: hidden;
        background: #FFF;
    }
    
    body {
        overflow-x: hidden;
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        word-wrap: break-word;
    }
    
    body,
    div,
    dl,
    dt,
    dd,
    ul,
    ol,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    object,
    iframe,
    pre,
    code,
    p,
    blockquote,
    form,
    fieldset,
    legend,
    table,
    th,
    td,
    caption,
    tbody,
    tfoot,
    thead,
    article,
    aside,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    audio,
    video,
    canvas {
        margin: 0;
        padding: 0;
    }
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    nav,
    section,
    menu {
        display: block;
    }
    
    audio:not([controls]) {
        display: none;
        height: 0;
    }
    
    [hidden] {
        display: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    fieldset,
    img {
        border: none;
    }
    
    address,
    caption,
    cite,
    code,
    dfn,
    em,
    strong,
    th,
    var {
        font-style: normal;
        font-weight: normal;
    }
    
    ul,
    ol,
    menu {
        list-style: none;
    }
    
    caption,
    th {
        text-align: left;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 100%;
        font-weight: normal;
    }
    
    q:before,
    q:after {
        content: '';
    }
    
    abbr,
    acronym {
        border: none;
        font-variant: normal;
    }
    
    sup {
        vertical-align: text-top;
    }
    
    sub {
        vertical-align: text-bottom;
    }
    
    input,
    textarea,
    select {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    
    legend {
        color: #000;
    }
    
    a img,
    map a {
        border: none;
    }
    
    a:hover,
    a:active,
    a:focus {
        outline: 0;
    }
    
    embed {
        width: 100%;
    }
    
    audio,
    canvas,
    video {
        display: inline-block;
    }
    
    audio:not([controls]) {
        display: none;
        height: 0;
    }
    
    img,
    object,
    embed {
        max-width: 100%;
        height: auto;
    }
    
    object,
    embed {
        height: 100%;
    }
    
    img {
        -ms-interpolation-mode: bicubic;
    }
    /* Font styles
-------------------------------------------------------------------*/
    
    body {
        font: 13px/1.231 Verdana, Arial, sans-serif;
    }
    
    select,
    input,
    button,
    textarea,
    button {
        font: 99% arial, sans-serif;
    }
    
    table {
        font-size: inherit;
        font: 100%;
    }
    
    pre,
    code,
    kbd,
    samp,
    tt {
        font-family: monospace;
        line-height: 1;
    }
    /* General styles
-------------------------------------------------------------------*/
    
    table {
        empty-cells: show;
    }
    
    input {
        line-height: 1;
    }
    
    form img,
    input,
    select {
        vertical-align: middle;
    }
    
    textarea {
        resize: none;
    }
    
    select {
        padding: 1px;
    }
    
    label {
        margin-right: 5px;
    }
    
    legend {
        display: none;
    }
    
    input[type="text"],
    input[type="password"],
    textarea {
        padding: 3px 4px 0 3px;
        border: 1px solid #999;
        border-right: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        font-size: 13px;
    }
    /* ------------------------------------------------------------------
	1-2. VisualFormattingModel styles
-------------------------------------------------------------------*/
    
    .clearfix {
        zoom: 1;
    }
    
    .clearfix:after {
        display: block;
        clear: both;
        content: "";
    }
    
    .clear {
        clear: both !important;
    }
    
    a.hover:hover,
    input.hover:hover {
        filter: alpha(opacity=70);
        -moz-opacity: 0.7;
        -khtml-opacity: 0.7;
        opacity: 0.7;
    }
    /*-----------------------------------------------------------
Link
------------------------------------------------------------*/
    
    a:link {
        color: #333;
        text-decoration: none;
    }
    
    a:visited {
        color: #333;
        text-decoration: none;
    }
    
    a:hover {
        color: #aaa;
        text-decoration: none;
        -moz-transition: all 0.26s ease-out;
        -o-transition: all 0.26s ease-out;
        -webkit-transition: all 0.26s ease-out;
        -ms-transition: all 0.26s ease-out;
    }
    
    a:active {
        color: #64AB18;
        text-decoration: none;
    }
    /*==================================================================
	2 Layout setting
===================================================================*/
    /*-----------------------------------------------------------
Body
-------------------------------------------------------------*/
    
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 1.6;
        letter-spacing: 0;
        font-size: 14px;
        color: #333;
        min-width: 320px;
    }
    
    .pc {
        display: block;
    }
    
    .sp {
        display: none;
    }
    
    .noDisplay {
        display: none !important;
    }
    
    .maxW {
        margin: 0 auto 40px;
        max-width: 1020px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /*-----------------------------------------------------------
Header
------------------------------------------------------------*/
    
    #header {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }
    /*-----------------------------------------------------------
Container
------------------------------------------------------------*/
    
    #container {
        clear: both;
        margin: 0 auto 50px;
        max-width: 1020px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /*-----------------------------------------------------------
PageTop
------------------------------------------------------------*/
    
    #pageTop {
        text-align: right;
        padding: 10px;
    }
    /*-----------------------------------------------------------
Footer
------------------------------------------------------------*/
    
    #footer {
        clear: both;
        width: 100%;
    }
    
    #copyright {
        text-align: center;
        border-top: 1px solid #ccc;
        padding: 10px 0;
    }
    /*---*/
    
    .flexBox {
        display: flex;
    }
    
    .flexBox--center {
        align-items: center;
    }
    
    .flexBox--between {
        justify-content: space-between;
    }
    
    .flexBox--arround {
        justify-content: space-around;
    }
    
    .flexBox--wrap {
        flex-wrap: wrap;
    }
    
    .flexBox--nosp {
        display: block;
    }
    /* Smartphone */
    
    @media only screen and (max-width: 767px) {
        body {
            font-size: 13px;
        }
        .pc {
            display: none;
        }
        .sp {
            display: block;
        }
    }
    /* End Smartphone */