.promotion-box {
  padding: 30px 0;
  text-align: center;
  color: $color-yellow;
  a {
    color: $color-yellow;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
  }
}
.footer {
  padding: 25px 0;
  border-top: 1px solid $color-yellow;
  color: $color-white;
  ul.footer-menu {
    li {
      margin: 15px 0;
      @media (max-width: 767px) {
        margin: 0 15px;
      }
      .icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: $color-icon;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
        margin-right: 20px;
        @media (max-width: 767px) {
          width: 30px;
          height: 30px;
          line-height: 30px;
        }
      }
      a {
        color: $color-white;
        font-size: 15px;
        @media (max-width: 767px) {
          font-size: 13px;
        }
      }
    }
  }
}

.copyright {
  background: $color-violet;
  padding: 10px 0;
  text-align: center;
  color: $color-black;
}

.list-social {
  li {
    margin-left: 25px;
    &:first-child {
      margin-left: 0;
    }
    a {
      color: $color-white;
      font-size: 24px;
      &:hover {
        color: $color-yellow;
      }
    }
  }
}
