$font-monserrat: "Montserrat", sans-serif;
$font-roboto: "Roboto", sans-serif;

$font-barlow: "Barlow", sans-serif;
$font-josefin: "Josefin Sans", sans-serif;
$font-tuesday: "tuesdayNight";
$font-kristi: "Kristi", cursive;

$font-playfair: "Playfair Display", serif;

$font-svn: "SVN-Unthrift";

$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;
$color-red: #3989c9;
$color-red-dark: #3989c9;
$color-pDark: #141414;
$color-dark: #404040;
$color-white: #fff;
$color-black: #000000;
$color-gray: #eaeaea;
$color-bg-gray: #f8f8f8;
$color-thin-gray: #a0a0a0;
$color-light-gray: #f5f5f5;
$color-light-gray-hover: #e1e1e1;

$bg-gray: #f7f7f7;
$border-input: #d8d8d8;
$border-table: #d5d5d5;
$color-error: #e02020;

$color-violet: #95569b;
$color-user: #009688;

$color-blue-dark: #07407e;
$color-blue-light: #52a2f8;

$color-border: #cccccc;

$color-green: #92c83e;

$color-footer: #001d16;
$color-icon: #18362e;

$color-tea: #dc1f26;
$color-yellow: #b09246;
$color-gold: #b08d75;

@font-face {
  font-family: "tuesdayNight";
  src: url("../fonts/TuesdayNight-Regular.eot");
  src: local("☺"), url("../fonts/TuesdayNight-Regular.woff") format("woff"),
    url("../fonts/TuesdayNight-Regular.ttf") format("truetype"),
    url("../fonts/TuesdayNight-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SVN-Unthrift";
  src: url("../fonts/UTM Scriptina KT.eot");
  src: local("☺"), url("../fonts/UTM Scriptina KT.woff") format("woff"),
    url("../fonts/UTM Scriptina KT.ttf") format("truetype"),
    url("../fonts/UTM Scriptina KT.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
